/* styles.css */

/* Assigning variables to colors used more than once */
:root {
  --mainColor: #53b6f0;
  --textColor: white;
  --fontLg: 25px; 
  --fontSm: 20px;
}

/* General styling for the entire page */
body {
  font-family: "Open-sans", sans-serif;
  background-color: var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#display {
  color: var(--textColor);
}

#drum-machine {
  background-color: #303030;
  padding: 50px 7.5px 50px 50px;
  border-radius: 50px;
}

/* Styling for the container holding the Drum Machine */
.container {
  text-align: center;
}

/* Styling for buttons */
button {
  font-family: "Open-sans", sans-serif;
  font-size: var(--fontLg);
  font-weight: bold;
  margin: 2.5px;
  padding: 35px 35px;
  cursor: pointer;
  background-color: var(--mainColor);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
  box-shadow: 10px 4px 8px rgba(0, 0, 0, 1);
}

button:hover {
  background-color: #2980b9;
}

/* Styling for paragraph element */
p {
  font-size: var(--fontLg);
  margin-top: 20px;
  color: var(--textColor);
}

input[type="range"]:before {
  color: var(--mainColor);
}

/* Styling for volume control slider */
input[type="range"] {
  width: 60%;
  margin-top: 0px;
  margin-left: 1em;
  color: var(--mainColor);
}

/* Styling for the power toggle switch */
.switch {
  font-size: var(--fontSm);
  display: inline-block;
  margin-top: 20px;
  color: var(--textColor);
}

.switch input {
  display: none;
}

/* Styling for the slider part of the toggle switch */
.slider {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  background-color: var(--textColor);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 1em;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 25px;
  background-color: rgb(167, 6, 6);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Move the slider button to the right when the checkbox is checked */
input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #05830a;
}

/* Additional styles for the second set toggle switch */
.switch:nth-child(2) {
  margin-left: 20px;
}

/* Styling for the main grid container using CSS Grid */
.grid-container {
  display: grid;
  grid-template-areas: "keys controls";
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Styling for the keys grid */
.keys {
  grid-area: keys;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Styling for the controls grid */
.controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

#volume {
  font-size: var(--fontSm);
  color: var(--textColor);
}